#bg{
    background: rgba(248,80,50,1);
background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(0,255,51,1) 51%, rgba(0,181,39,1) 73%, rgba(0,138,9,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(0,255,51,1)), color-stop(73%, rgba(0,181,39,1)), color-stop(100%, rgba(0,138,9,1)));
background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(0,255,51,1) 51%, rgba(0,181,39,1) 73%, rgba(0,138,9,1) 100%);
background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(0,255,51,1) 51%, rgba(0,181,39,1) 73%, rgba(0,138,9,1) 100%);
background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(0,255,51,1) 51%, rgba(0,181,39,1) 73%, rgba(0,138,9,1) 100%);
background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(0,255,51,1) 51%, rgba(0,181,39,1) 73%, rgba(0,138,9,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#008a09', GradientType=0 );


}

@font-face{
    font-family:Simonet;
    src: url("simonetta.regular.ttf");

}
#ha1{
    
    font-family: Simonet;
    color: #694841;
    
 
    font-size: 50px;
}

.asd{
    
    color: white;
    margin: auto;
    width: 90%;
    height: 50px;
    padding-left: auto;
}
#asd2{
    color: white;
    font-family: Simonet;
    margin-top: 10px;
    font-size: 35px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
 body{
   margin:0;
   padding:0;
    background-image: url('https://www.colourbox.com/preview/31439435-pizza-seamless-pattern-hand-drawn-sketch-pizza-doodles-food-background-with-flour-and-other-food-ingredients-oven-and-kitchen-tools-vector-illustration.jpg');
    
}
#img{
    margin-left: 0;
    float:left;
}
ul a {
    margin-left: 20px;
}
#clear{
    clear: both;
}

 #lg2:hover{
     color:red;
    text-decoration: underline;


}
#cont2{
    background-color: antiquewhite;
    display: inline-block;
    width: 90%;
    margin-left: 70px;
    padding-left: 0;
    text-align: center;
    
    border-right:6px double Red;
    border-top:6px double black;
    border-left: 6px double green;
    border-bottom:6px double black;
    
}
#lg{
    background-color: red;
    height: 40px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 70%;
    padding-top: 0px;
    padding-bottom: 10px;
    
}
#lg2 {
    color: white;
    font-size: 20px;
    margin-left: 0%;
    margin-right: 20px;
    font-family: Simonet;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#conto{
    background-color: antiquewhite;
    margin-top: 0px;
    
    
    
    display: flex;
    flex-wrap: wrap;
}

#loc{
    padding-left: 45%;
    font-family: Simonet;
    
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:white;

}
#imgloc{
    margin-left:50px;
}
#tex{
    font-family: Simonet;
    font-size: 20px;
    text-align: center;
    
}
#contac{
    border:1px solid black;
    
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 100px;
    background-color: bisque;
    
    
    width:400px;
    height: 400px;
}
#conto2{
    background-color: antiquewhite;
    margin-top: 0px;
    
    height: 900px;
    
}
#conto2x{
    background-color: antiquewhite;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    
}
#reg{
    text-align: left;
}
#conto5{
    background-color: antiquewhite;
    margin-top: 0px;
    padding-bottom: 20px;
    height: 900px;
    border:2px solid black;
}

#carros{
    margin:auto; 
    font-family: Simonet;
    color: white;
    font-size: 24px;
    width: 400px;
    height: 300px;
    padding-left: 20px;
    background-color: wheat;
    border: 1px solid black;
    border-radius: 20px;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}
#f1{

    font-family: Simonet;
    
    color: white;
    font-size: 22px;
    border-bottom: 1px solid white;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}
#f2{

    font-family: Simonet;
    
    color: white;
    font-size: 22px;
    border-bottom: 1px solid white;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

#lg32 {
    color: white;
    font-size: 60px;
    border-bottom:1px solid grey;
    background-color: bisque;
    margin-top: 0px;
    margin-left: 0px;

    
    text-align: left;
    font-family: Simonet;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}
#lg31 {
    color: white;
    font-size: 60px;
    border-bottom:1px solid grey;
    background-color: bisque;
    margin-top: 0px;
    margin-left: 0px;

    
    text-align: center;
    font-family: Simonet;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}
#lg3 {
    color: white;
    font-size: 60px;
    border-bottom:1px solid grey;
    background-color: bisque;
    margin-top: 0px;

    
    text-align: center;
    font-family: Simonet;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

#contr {
    color:black;
    font-family: Simonet;
    background-color: antiquewhite;
    margin-top: 40px;
    width: 400px;
    margin: auto;
    border: 1px solid black;
    height: 400px;
    text-align: center;

    

}    
#for{
    padding-top: 1.5px;
}
#foot{
    position:absolute;
    margin-left: 0;
   bottom:0;
   width:100%;
   height:60px;   
   background:antiquewhite;
   border-top:2px solid black;

    
}
#pizz{
    font-family: Simonet;
    font-size: 50px;
    width: 200px;
    border-radius: 20px;
    margin-left: 20px;
    color: white;
    text-align: center; 
    background: rgba(248,80,50,1);
background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(255,97,76,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );


}
#asd5{
    color: white;
    font-family: Simonet;
    margin-left: 40%;
    margin-top: 10px;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#contmain {
    background-color: antiquewhite;
    display: inline-block;
    width: 90%;
   
    padding-top: 500px;
    margin-left: 70px;
    padding-top: 10px;
    
    text-align: left;
    
    padding-bottom: 20px;
    border: 1px solid black;
    
}
#contmain i {
    color: Black;
    font-family: Simonet;

}
#fff{
    margin-left: 20px;
    border: 1px solid black;
    padding-left: 320px;
    
    background-color: wheat;
    
}
#flr {
    float: right;
}
#clear {
    clear:both;
}
#flx2{
    
    display: flex;
    flex-wrap: wrap;
}
#promo {
    margin-left: 50px;
    border: 1px solid black;
    background-color: aliceblue;
    width: 500px;
    margin-bottom: 10px;
    font-family: Simonet;
    font-size: 18px;
    

}
#promo h3 {
    color: White;
    padding-top: 0px;
    margin-top: 0px;
    background-color: red;
    font-family: Simonet;
    font-size: 20px;
}
#bt{
    margin-left:45%;
    margin-bottom: 100px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#bt:hover {
    background-color: red;
    color: White;
}
#promos {
    text-align: center;
    width: 300px;
    height: 700px;
    background-color: #4CAF50;
    margin-left:40px;
    margin-top: 20px; 
}
#bt2{
    margin-left:150;
    margin-bottom: 5px;
    background-color: red; 
    border:1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Simonet;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#bt2x{
    margin-left:20px;
    margin-bottom: 5px;
    background-color: red; 
    border:1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Simonet;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
    #bt2,#bt2x:hover {
        background-color: wheat;
        color: Black;
        
    }
    #bt3 {
        margin-top: 20px;
        margin-left:150;
    margin-bottom: 5px;
    background: rgba(248,80,50,1);
background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(255,97,76,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
    border:1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Simonet;
    border-radius: 12px;
    }
    #pizzdi h1{
        font-family: simonet;
        font-size: 20px;
        text-align: center;
        
    }
    #pizzdi{
        margin-top: 20px;
        margin-left: 20px;
        padding-top: 20px;
        padding-left: 5px;

        width:400px;
        height:250px;
        border-radius: 20px;
        border:1px solid red;
         
        background: rgba(255,250,145,1);
        background: -moz-linear-gradient(top, rgba(255,250,145,1) 0%, rgba(255,162,0,1) 73%, rgba(245,167,12,1) 87%, rgba(240,47,23,1) 87%, rgba(231,56,39,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,250,145,1)), color-stop(73%, rgba(255,162,0,1)), color-stop(87%, rgba(245,167,12,1)), color-stop(87%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
        background: -webkit-linear-gradient(top, rgba(255,250,145,1) 0%, rgba(255,162,0,1) 73%, rgba(245,167,12,1) 87%, rgba(240,47,23,1) 87%, rgba(231,56,39,1) 100%);
        background: -o-linear-gradient(top, rgba(255,250,145,1) 0%, rgba(255,162,0,1) 73%, rgba(245,167,12,1) 87%, rgba(240,47,23,1) 87%, rgba(231,56,39,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,250,145,1) 0%, rgba(255,162,0,1) 73%, rgba(245,167,12,1) 87%, rgba(240,47,23,1) 87%, rgba(231,56,39,1) 100%);
        background: linear-gradient(to bottom, rgba(255,250,145,1) 0%, rgba(255,162,0,1) 73%, rgba(245,167,12,1) 87%, rgba(240,47,23,1) 87%, rgba(231,56,39,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffa91', endColorstr='#e73827', GradientType=0 );

    }
    #pizzdi p{
        font-family: Simonet;
        }

        #bto {
            margin-top: 20px;
            margin-left:150;
        margin-bottom: 5px;
        background: rgba(248,80,50,1);
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(255,97,76,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(255,97,76,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
        border:1px solid black;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: Simonet;
        border-radius: 12px;
        margin-left: 50px;
        
        }    
        #flx{
            display: flex;
    flex-wrap: wrap;
        }